################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/**/obj/*
/**/bin/*
/**/.config
/**/.vs/**
/src/DH.Core/Entity/Config
/demo/BinWeb/net7.0
/BinWeb/net7.0
/Build/Config
/.idea/.idea.DH.FrameWork/.idea
/demo/NopDemo/App_Data/DataProtectionKeys/key-8bc450f5-d9be-437b-bfcf-43d0425c3f44.xml
/Build/Log
*.user
/tools/PushNuget/Properties/PublishProfiles
